<div class="logInComponent">
    <div class="titleContainer">
    </div>
    <div *ngIf="enrollmentFormDisplayed">
        <label class="dialogTitle" [class.active]="enrollmentFormDisplayed" (click)="showEnrollmentForm()">הרשמה</label>
        <div class="enrollment">      
            <input class="WantToBeUpdatedTiteleInput" type="text" name="firstName" placeholder="*שם פרטי" required>
            <input class="WantToBeUpdatedTiteleInput" type="text" name="lastName" placeholder="*שם משפחה" required>
            <input class="WantToBeUpdatedTiteleInput" type="text" name="id" placeholder="תז">
            <input class="WantToBeUpdatedTiteleInput" type="text" name="phone" placeholder="*טלפון" required>
            <input class="WantToBeUpdatedTiteleInput" type="text" name="city" placeholder="*עיר" required>
            <input class="WantToBeUpdatedTiteleInput" type="text" name="address" placeholder="כתובת">
            <input class="WantToBeUpdatedTiteleInput fullWidth" type="text" name="email" placeholder="*מייל" required>
            <input class="WantToBeUpdatedTiteleInput" type="password" name="password" placeholder="*סיסמה" required>
            <input class="WantToBeUpdatedTiteleInput" type="password" name="confirmPassword" placeholder="*אימות סיסמה" required>
            <label class="fullWidth"><input type="checkbox" name="agree" required>אני מאשר קבלת עידכונים ותכנים של "שלום בבית"</label>
        </div>
        <button class="submitButton">כניסה</button>
    </div>
    <div *ngIf="connectionFormDisplayed">
        <label class="dialogTitle" [class.active]="connectionFormDisplayed" (click)="showConnectionForm()">התחברות</label>
        <div class="connection">
            <input class="WantToBeUpdatedTiteleInput" type="text" name="username" placeholder="*כתובת מייל" required [(ngModel)]="username">
            <input class="WantToBeUpdatedTiteleInput" type="password" name="password" placeholder="*סיסמה" required [(ngModel)]="password">
            <a class="subtitle" (click)="showSendingPasswordToMail()">?שכחת סיסמה</a>
            <label class="subtitle" (click)="showEnrollmentForm()">?עוד לא הצטרפת אלינו</label>
        </div>
        <button class="submitButton" (click)="onLogin()">כניסה</button>
    </div>
    <div *ngIf="SendingPasswordToMail">
        <div class="showSendingPasswordToMail">
            <label class="dialogTitle">שחזור סיסמה</label>
            <input class="WantToBeUpdatedTiteleInput" type="email" name="email" placeholder="מייל" required>
            <button class="submitButton SubmitNewPasswordButton" (click)="showPasswordHasBeenSent()">שלח למייל סיסימה חדשה</button>
        </div>
    </div>
    <div *ngIf="passwordHasBeenSent">
        <div class="passwordHasBeenSent">
            <label class="dialogTitle">!הסיסמה נשלחה בהצלחה</label>
            <button class="submitButton SubmitNewPasswordButton" (click)="showForgotPassword()">לשחזור סיסמה</button>
        </div>
    </div>
    <div *ngIf="forgatPassword">
        <div class="showForgotPassword">
            <label class="dialogTitle">שחזור סיסמה</label>
            <input class="WantToBeUpdatedTiteleInput" type="password" name="password" placeholder="סיסמה" required>
            <input class="WantToBeUpdatedTiteleInput" type="password" name="password" placeholder="בחר סיסמה חדשה" required>
            <input class="WantToBeUpdatedTiteleInput" type="password" name="password" placeholder="אימות סיסמה חדשה" required>
            <button class="submitButton">כניסה</button>
        </div>
    </div>
</div>
