<div class="login-fullpage-container">
  <div class="login-center-box">
    <div class="titleContainer">
        <img src="../../../../assets/photoes/LOGO.png" alt="לוגו" class="login-logo" style="max-width: 120px; margin-bottom: 1rem; display: block; margin-left: auto; margin-right: auto;" />
        <h2 class="login-title">כניסה לאזור האישי</h2>
    </div>
    <div class="connection">
    <input class="WantToBeUpdatedTiteleInput" type="text" name="user_name" placeholder="*שם משתמש" required [(ngModel)]="user_name">
        <div class="password-container">
            <input class="WantToBeUpdatedTiteleInput" 
                   [type]="showPassword ? 'text' : 'password'" 
                   name="password" 
                   placeholder="*סיסמה" 
                   required 
                   [(ngModel)]="password">
            <span class="eye-icon" (click)="togglePasswordVisibility()" [class.visible]="showPassword"></span>
        </div>
        <a class="subtitle" (click)="showSendingPasswordToMail()">?שכחת סיסמה</a>
        <button class="submitButton" (click)="onLogin()">כניסה</button>
    </div>
    <div *ngIf="SendingPasswordToMail">
        <div class="showSendingPasswordToMail">
            <label class="dialogTitle">שחזור סיסמה</label>
            <input class="WantToBeUpdatedTiteleInput" type="email" name="email" placeholder="מייל" required>
            <button class="submitButton SubmitNewPasswordButton" (click)="showPasswordHasBeenSent()">שלח למייל סיסימה חדשה</button>
        </div>
    </div>
    <div *ngIf="passwordHasBeenSent">
        <div class="passwordHasBeenSent">
            <label class="dialogTitle">!הסיסמה נשלחה בהצלחה</label>
            <button class="submitButton SubmitNewPasswordButton" (click)="showForgotPassword()">לשחזור סיסמה</button>
        </div>
    </div>
    <div *ngIf="forgatPassword">
        <div class="showForgotPassword">
            <label class="dialogTitle">שחזור סיסמה</label>
            <input class="WantToBeUpdatedTiteleInput" type="password" name="password" placeholder="סיסמה" required>
            <input class="WantToBeUpdatedTiteleInput" type="password" name="password" placeholder="בחר סיסמה חדשה" required>
            <input class="WantToBeUpdatedTiteleInput" type="password" name="password" placeholder="אימות סיסמה חדשה" required>
            <button class="submitButton">כניסה</button>
        </div>
    </div>
  </div>
</div>
