<!-- therapist-dashboard.component.html -->
 <app-therapist-header></app-therapist-header>
<div class="therapist-area-container">
  <div class="therapist-area-header">
    <h1>אזור אישי מטפל</h1>
  </div>

  <div class="therapist-area-content">
    
    <!-- עמודה שמאלית - רשימת מטופלים -->
    <div class="sidebar">
      <app-patient-list></app-patient-list>
    </div>

    <!-- עמודה ימנית - תוכן ראשי (פרטי מטופל נבחר / סטטיסטיקות) -->
    <div class="main-content">
        <app-therapist-calendar></app-therapist-calendar>
      <!-- כאן יופיעו פרטי המטופל שנבחר או סטטיסטיקות כלליות -->
      <!-- <div class="welcome-message" *ngIf="!selectedPatientId"> -->
    <div>
        <h2>ברוך הבא לאזור האישי שלך</h2>
        <p>בחר מטופל מהרשימה כדי לצפות בפרטים ובטיפולים שלו</p>
      </div>
      
      <!-- כאן ניתן להוסיף קומפוננטה של פרטי מטופל נבחר -->
      <!-- <div *ngIf="selectedPatientId">
      </div> -->
    </div>

  </div>
</div>