html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

:host {
  display: block;
  height: 99%;
  overflow: hidden;
}
.dashboard-content {
  width: calc(100vw - 5rem);
  margin-right: 5rem;
  /* overflow-y: auto; */
  box-sizing: border-box;
  background: #F3F7F8;
}