<!-- patient-list.component.html -->
<div class="list-card">
  <div class="card-header">
    <h3>רשימת מטופלים</h3>
    <div class="header-actions">
      <button class="add-item-btn" (click)="openAddPatientDialog()" [disabled]="isLoading"
        matTooltip="הוסף מטופל חדש" matTooltipPosition="below">
        <mat-icon>add</mat-icon>
        <!-- <span>הוסף מטופל</span> -->
      </button>
      <div class="search-input-wrapper">
        <mat-icon class="search-icon">search</mat-icon>
        <input
          type="text"
          [(ngModel)]="searchText"
          [disabled]="isLoading"
          placeholder="חפש מטופל..."
          class="search-input"
        />
      </div>
    </div>
  </div>

  <div class="card-content">
    <div *ngIf="isLoading" class="loading-container">
      <mat-spinner diameter="40"></mat-spinner>
    </div>

    <div *ngIf="!isLoading && patients.length > 0">
      <div class="list-item-card" *ngFor="let patient of patients | patientNameFilter:searchText"
        [class.selected]="selectedPatientId === (patient.patient ? patient.patient.patient_id : null)">
        <div class="item-info" (click)="viewPatientDetails(patient); logPatient(patient)">
          <span class="item-name">
            {{ patient.person.first_name || '---' }} {{ patient.person.last_name || '' }}
          </span>
        </div>
        <div class="list-actions">
          <button class="menu-button" [matMenuTriggerFor]="patientMenu" (click)="$event.stopPropagation()"
            matTooltip="פעולות">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #patientMenu="matMenu" xPosition="before" [backdropClass]="'transparent-backdrop'">
            <button mat-menu-item (click)="viewPatientDetails(patient)">
              <mat-icon>person</mat-icon>
              <span>הצג פרטי מטופל</span>
            </button>
            <button mat-menu-item (click)="viewPatientMeetings(patient)">
              <mat-icon>calendar_today</mat-icon>
              <span>רשימת פגישות</span>
            </button>
          </mat-menu>
        </div>

      </div>
    </div>

  <div *ngIf="!isLoading && patients.length === 0" class="no-items">
      <p>אין מטופלים כרגע</p>
      <p>לחץ על "הוסף מטופל" כדי להתחיל</p>
    </div>
  </div>
</div>