<header>
  <div routerLink="" class="divLogo">
    <img class="logo" src="../../../assets/photoes/LOGO.png" alt="לוגו">
  </div>
  <div class="buttonLink">
    <ul>
  <li><button (click)="resetSectionState('home')">בית</button></li>
  <li><button (click)="resetSectionState('requests')">רשימת פניות</button></li>
  <li><button (click)="resetSectionState('therapists')">רשימת מטפלים</button></li>
  <li><button (click)="resetSectionState('patients')">רשימת מטופלים</button></li>
  <li><button (click)="resetSectionState('rooms')">חדרים</button></li>
  <li><button (click)="resetSectionState('materials')">חומרים</button></li>
  <li><button (click)="resetSectionState('courses')">קורסים</button></li>
  <li><button (click)="resetSectionState('mail')">דואר</button></li>
    </ul>
  </div>

  <!-- User Profile Menu -->
  <div class="user-profile-container">
    <div class="user-avatar" (click)="toggleProfileMenu()">
      <img [src]="userImage" alt="תמונת משתמש">
    </div>

    <div class="profile-menu" *ngIf="showProfileMenu">
      <div class="profile-menu-header">
        <div class="user-name">{{ user_name }}</div>
      </div>
      <div class="menu-divider"></div>
      <ul class="profile-menu-items">
        <li (click)="goToSettings()">
          <mat-icon class="menu-icon">settings</mat-icon>
          <span>הגדרות</span>
        </li>
        <li class="logout" (click)="logout()">
          <mat-icon class="menu-icon">logout</mat-icon>
          <span>יציאה</span>
        </li>
      </ul>
    </div>
  </div>
</header>

<!-- מיכל התוכן הראשי -->
<div [ngSwitch]="selectedSection">
  <!-- <app-secretary-home *ngSwitchCase="'home'"></app-secretary-home> -->
  <!-- <app-requests-list *ngSwitchCase="'requests'"></app-requests-list> -->
  <app-therapists-view *ngSwitchCase="'therapists'"></app-therapists-view>
  <app-patient-view *ngSwitchCase="'patients'"></app-patient-view>
  <app-rooms-view *ngSwitchCase="'rooms'"></app-rooms-view>
  <!-- <app-materials-list *ngSwitchCase="'materials'"></app-materials-list> -->
  <!-- <app-courses-list *ngSwitchCase="'courses'"></app-courses-list> -->
  <!-- <app-mail *ngSwitchCase="'mail'"></app-mail> -->
  <div *ngSwitchDefault>בחר פעולה</div>
</div>