<header>
  <div routerLink="" class="divLogo">
      <img class="logo" src="../../../assets/photoes/shalom babait logo.png" alt="לוגו">
  </div>
    <div class="buttonLink">
      <ul>
        <li><button>בית</button></li>
        <li><button>רשימת פניות</button></li>
        <li><button>רשימת מטפלים</button></li>
        <li><button>רשימת מטופלים</button></li>
        <li><button>חדרים</button></li>
        <li><button routerLink="contact">דואר</button></li>
      </ul>
    </div>
    
    <!-- User Profile Menu -->
    <div class="user-profile-container">
      <div class="user-avatar" (click)="toggleProfileMenu()">
        <img [src]="userImage" alt="תמונת משתמש">
      </div>
      
      <div class="profile-menu" *ngIf="showProfileMenu">
        <div class="profile-menu-header">
          <div class="user-name">{{ userName }}</div>
        </div>
        <div class="menu-divider"></div>
        <ul class="profile-menu-items">
  <li (click)="goToSettings()">
    <mat-icon class="menu-icon">settings</mat-icon>
    <span>הגדרות</span>
  </li>
  <li class="logout" (click)="logout()">
    <mat-icon class="menu-icon">logout</mat-icon>
    <span>יציאה</span>
  </li>
</ul>
      </div>
    </div>
</header>