<header>
  <div routerLink="" class="divLogo">
    <img class="logo" src="../../../assets/photoes/LOGO.png" alt="לוגו">
  </div>
  <div class="buttonLink">
    <ul>
      <li><button [ngClass]="{selected: selectedSection === 'home'}" (click)="resetSectionState('home')">
        <span class="menu-vertical">
          <mat-icon class="menu-icon">home</mat-icon>
          <span>בית</span>
        </span>
      </button></li>
      <li><button [ngClass]="{selected: selectedSection === 'requests'}" (click)="resetSectionState('requests')">
        <span class="menu-vertical">
          <mat-icon class="menu-icon">list_alt</mat-icon>
          <span>רשימת פניות</span>
        </span>
      </button></li>
      <li><button [ngClass]="{selected: selectedSection === 'therapists'}" (click)="resetSectionState('therapists')">
        <span class="menu-vertical">
          <mat-icon class="menu-icon">groups</mat-icon>
          <span>רשימת מטפלים</span>
        </span>
      </button></li>
      <li><button [ngClass]="{selected: selectedSection === 'patients'}" (click)="resetSectionState('patients')">
        <span class="menu-vertical">
          <mat-icon class="menu-icon">person</mat-icon>
          <span>רשימת מטופלים</span>
        </span>
      </button></li>
      <li><button [ngClass]="{selected: selectedSection === 'rooms'}" (click)="resetSectionState('rooms')">
        <span class="menu-vertical">
          <mat-icon class="menu-icon">meeting_room</mat-icon>
          <span>חדרים</span>
        </span>
      </button></li>
      <li><button [ngClass]="{selected: selectedSection === 'materials'}" (click)="resetSectionState('materials')">
        <span class="menu-vertical">
          <mat-icon class="menu-icon">inventory_2</mat-icon>
          <span>חומרים</span>
        </span>
      </button></li>
      <li><button [ngClass]="{selected: selectedSection === 'courses'}" (click)="resetSectionState('courses')">
        <span class="menu-vertical">
          <mat-icon class="menu-icon">school</mat-icon>
          <span>קורסים</span>
        </span>
      </button></li>
      <li><button [ngClass]="{selected: selectedSection === 'reports'}" (click)="resetSectionState('reports')">
        <span class="menu-vertical">
          <mat-icon class="menu-icon">bar_chart</mat-icon>
          <span>דוחות</span>
        </span>
      </button></li>
      <!-- <li><button [ngClass]="{selected: selectedSection === 'mail'}" (click)="resetSectionState('mail')">
        <span class="menu-vertical">
          <mat-icon class="menu-icon">mail</mat-icon>
          <span>דואר</span>
        </span>
      </button></li> -->
    </ul>
  </div>

  <!-- User Profile Menu -->
  <div class="user-profile-container">
    <div class="user-avatar" (click)="toggleProfileMenu()">
      <img [src]="userImage" alt="תמונת משתמש">
    </div>

    <div class="profile-menu" *ngIf="showProfileMenu">
      <div class="profile-menu-header">
        <div class="user-name">{{ user_name }}</div>
      </div>
      <div class="menu-divider"></div>
      <ul class="profile-menu-items">
        <li (click)="goToSettings()">
          <mat-icon class="menu-icon">settings</mat-icon>
          <span>הגדרות</span>
        </li>
        <li class="logout" (click)="logout()">
          <mat-icon class="menu-icon">logout</mat-icon>
          <span>יציאה</span>
        </li>
      </ul>
    </div>
  </div>
</header>

