<div class="home-settings-list">
	<h2>הגדרות תצוגת דף הבית</h2>
	<ul class="simple-list">
		<li class="list-item">
			<label>
				<input type="checkbox" [(ngModel)]="showTodayCalendar" />
				<span class="item-icon">📅</span>
				<span class="item-text">לוח שנה של היום</span>
			</label>
		</li>
		<li class="list-item">
			<label>
				<input type="checkbox" [(ngModel)]="showScheduledTreatments" />
				<span class="item-icon">💉</span>
				<span class="item-text">רשימת טיפולים מתוזמנים</span>
			</label>
		</li>
		<li class="list-item">
			<label>
				<input type="checkbox" [(ngModel)]="showWaitingClients" />
				<span class="item-icon">👥</span>
				<span class="item-text">רשימת לקוחות בהמתנה</span>
			</label>
		</li>
	</ul>
</div>
