<!-- patient-details.component.html -->
<div class="patient-details-card">
  <div class="card-header">
    <h3>מטופל: {{ patient.user.first_name }} {{ patient.user.last_name }}</h3>
    <button *ngIf="!isEditing" class="edit-btn" (click)="startEdit()">
      עריכה
    </button>
  </div>

  <div class="card-content" *ngIf="!isEditing">
    <div class="detail-row">
      <span class="label">שם:</span>
      <span class="value">{{ patient.user.first_name }} {{ patient.user.last_name }}</span>
    </div>

    <div class="detail-row">
      <span class="label">טלפון:</span>
      <span class="value">{{ patient.user.phone }}</span>
    </div>
    
    <div class="detail-row">
      <span class="label">מייל:</span>
      <span class="value">{{ patient.user.email }}</span>
    </div>
    
    <div class="detail-row">
  <span class="label">גיל:</span>
  <span class="value">{{ calculateAge() }}</span>
    </div>
    
    <div class="detail-row">
      <span class="label">תאריך לידה:</span>
      <span class="value">{{ (patient.user.birth_date || patient.patient?.birth_date) | date:'dd/MM/yyyy' }}</span>
    </div>
    
    <div class="detail-row">
      <span class="label">כתובת:</span>
      <span class="value">{{ patient.user.address }}</span>
    </div>
   
      <div class="detail-row">
        <span class="label">תעודת זהות:</span>
        <span class="value">{{ patient.user.teudat_zehut }}</span>
      </div>
      
  </div>

  <!-- מצב עריכה -->
  <form *ngIf="isEditing" [formGroup]="patientForm" class="edit-form">
    
    <div class="form-field">
      <label>שם פרטי:</label>
      <input type="text" formControlName="first_name" placeholder="הכנס שם פרטי">
    </div>
    <div class="form-field">
      <label>שם משפחה:</label>
      <input type="text" formControlName="last_name" placeholder="הכנס שם משפחה">
    </div>
    
    <div class="form-field">
      <label>טלפון:</label>
      <input type="tel" formControlName="phone" placeholder="050-123-4567">
    </div>
    
    <div class="form-field">
      <label>מייל:</label>
      <input type="email" formControlName="email" placeholder="example@email.com">
    </div>
    
    <div class="form-field">
      <label>תאריך לידה:</label>
      <input type="date" formControlName="birth_date">
    </div>
    
    <div class="form-field">
      <label>כתובת:</label>
      <textarea formControlName="address" rows="3" placeholder="הכנס כתובת מלאה"></textarea>
    </div>

    <div class="form-actions">
      <button type="button" class="cancel-btn" (click)="cancelEdit()">ביטול</button>
      <button type="button" class="save-btn" (click)="saveChanges()" [disabled]="!patientForm.valid">
        שמור
      </button>
    </div>
  </form>

</div>