<app-header></app-header>
<div class="divHeader"></div>
<app-contact></app-contact>
<app-advertising></app-advertising>
<app-about></app-about>
<app-donate-button></app-donate-button>
<app-list-of-activities [activitiesList]="activitiesList"></app-list-of-activities>
<app-link-content></app-link-content>
<app-we-numbers [targetNumber]="500"></app-we-numbers>
<app-they-say-about-us></app-they-say-about-us>
<button class="scrollToTopButton" (click)="scrollToTop()"><mat-icon>arrow_upward</mat-icon></button>
<app-footer></app-footer>
<router-outlet></router-outlet>
