
<footer>
  <div>
    <ul>     
      <li><a href="#">קביעת יעוץ</a></li>
      <li><a href="#">אזור אישי</a></li>
      <li><a href="#">הדרכת חתנים</a></li>
      <li><a routerLink="SignUpForCourse">הרשמה לסדרה</a></li>
      <li><a href="#">רכישת ספרים</a></li>
      <li><a routerLink="contact">צור קשר</a></li>
    </ul>
  </div>
  <div>
    <ul>
      <li><mat-icon class="footerIcon">phone</mat-icon> 054-85-543-10</li>
      <li><mat-icon class="footerIcon">mail_outline</mat-icon> a0548554310@gmail.com</li>
      <li><i class="fa-brands fa-whatsapp footerIcon"></i> 073-38-39-179</li>
      <br>
      <li><a href="https://www.matara.pro/nedarimplus/online/?mosad=7005723" class="bottomLine" target="_blank">לתרומות</a></li>
      <li><a href="#">נגישות</a></li>
    </ul>
  </div>
  <form class="getUpdates" (ngSubmit)="sendEmail()" #emailForm="ngForm">
  <div class="userInformation">
    <label class="WantToBeUpdatedTitele">רוצים להיות מעודכנים?</label>
    <input class="WantToBeUpdatedTiteleInput" type="text" name="name" [(ngModel)]="formData.name" placeholder="שם" required>
    <input class="WantToBeUpdatedTiteleInput" type="email" name="email" [(ngModel)]="formData.email" placeholder="מייל" required>
    <input class="WantToBeUpdatedTiteleInput" type="tel" name="phone" [(ngModel)]="formData.phone" placeholder="טלפון" required>
    <label>
      <input type="checkbox" name="agree" [(ngModel)]="formData.agree" required>
      אני מאשר קבלת עידכונים ותכנים של "שלום בבית"
    </label>
    <button class="submitButton" type="submit" [disabled]="emailForm.invalid">שלח</button>
  </div>
</form>
</footer>

