<br><br><br><br>
<div class="patient-list-container">
  <h1>רשימת טיפולים</h1>

  <!-- שדה חיפוש -->
  <div class="search-container">
    <button class="icon-button" mat-icon-button (click)="openCreateTreatmentDialog()">
      <mat-icon style="color: #BB7E2B;">add</mat-icon>
    </button>
    <input type="text" placeholder="חיפוש לפי תאריך" class="search-input" [(ngModel)]="searchTerm">
  </div>

  <!-- כותרות השדות -->
  <div class="treatment-row header-row">
    <div class="treatment-cell">תאריך</div>
    <div class="treatment-cell">סוג פגישה</div>
    <div class="treatment-cell">מקום</div>
    <div class="treatment-cell">שעת התחלה</div>
    <div class="treatment-cell">שעת סיום</div>
    <div class="treatment-cell">סה"כ</div>
  </div>

  <!-- רשימת פגישות -->
  <div class="treatment-row data-row" *ngFor="let treatment of showtreatments">
    <div class="treatment-cell">{{treatment.appointment_date | date:'dd/MM/yyyy'}}</div>
    <div class="treatment-cell">{{treatment.treatment_type}}</div>
    <div class="treatment-cell">{{treatment.room}}</div>
    <div class="treatment-cell">{{treatment.start_time | slice:0:5}}</div>
    <div class="treatment-cell">{{treatment.end_time | slice:0:5}}</div>
    <div class="treatment-cell">{{treatment.total_minutes}} דקות</div>
  </div>
</div>