<div class="dashboard-container">
  <app-secretary-header [selectedSection]="selectedSection" (sectionChange)="onSectionChange($event)"></app-secretary-header>
  <div class="dashboard-content">
    <ng-container>
      <app-secretary-home *ngIf="selectedSection === 'home'"></app-secretary-home>
      <app-therapists-view *ngIf="selectedSection === 'therapists'"></app-therapists-view>
      <app-patient-view *ngIf="selectedSection === 'patients'"></app-patient-view>
      <app-rooms-view *ngIf="selectedSection === 'rooms'"></app-rooms-view>
      <!-- <app-materials-list *ngIf="selectedSection === 'materials'"></app-materials-list> -->
      <!-- <app-courses-list *ngIf="selectedSection === 'courses'"></app-courses-list> -->
      <!-- <app-mail *ngIf="selectedSection === 'mail'"></app-mail> -->
      <div *ngIf="selectedSection !== 'home' && selectedSection !== 'therapists' && selectedSection !== 'patients' && selectedSection !== 'rooms'">בחר פעולה</div>
    </ng-container>
  </div>
</div>