<header>
  <div routerLink="" class="divLogo">
    <img class="logo" src="../../../assets/photoes/LOGO.png" alt="לוגו">
  </div>
  <div class="buttonLink">
    <ul>
      <li><button (click)="selectedSection = 'home'">בית</button></li>
  <li><button (click)="onPatientsClick()">רשימת מטופלים</button></li>
      <li><button (click)="selectedSection = 'rooms'">חדרים</button></li>
      <li><button (click)="selectedSection = 'mail'">דואר</button></li>
      <!-- <li><button (click)="selectedSection = 'declarations'">הצהרות</button></li> -->
      <li><button (click)="selectedSection = 'calendar'">יומן טיפולים</button></li>
      <li><button (click)="selectedSection = 'followups'">מעקבים</button></li>
    </ul>
  </div>

  <!-- User Profile Menu -->
  <div class="user-profile-container">
    <div class="user-avatar" (click)="toggleProfileMenu()">
      <img [src]="userImage" alt="תמונת משתמש">
    </div>

    <div class="profile-menu" *ngIf="showProfileMenu">
      <div class="profile-menu-header">
        <div class="user-name">{{ user_name }}</div>
      </div>
      <div class="menu-divider"></div>
      <ul class="profile-menu-items">
        <li (click)="goToSettings()">
          <mat-icon class="menu-icon">settings</mat-icon>
          <span>הגדרות</span>
        </li>
        <li class="logout" (click)="logout()">
          <mat-icon class="menu-icon">logout</mat-icon>
          <span>יציאה</span>
        </li>
      </ul>
    </div>
  </div>
</header>

<!-- מיכל התוכן הראשי -->
<div [ngSwitch]="selectedSection">
  <!-- <app-therapist-home *ngSwitchCase="'home'"></app-therapist-home> -->
  <app-patient-view *ngSwitchCase="'patients'" [therapistId]="therapistId"></app-patient-view>
  <app-rooms-view *ngSwitchCase="'rooms'"></app-rooms-view>
  <!-- <app-mail *ngSwitchCase="'mail'"></app-mail> -->
  <!-- <app-declarations *ngSwitchCase="'declarations'"></app-declarations> -->
  <app-therapist-calendar *ngSwitchCase="'calendar'"></app-therapist-calendar>
  <app-user-follow-up-table *ngSwitchCase="'followups'"></app-user-follow-up-table>
  <div *ngSwitchDefault>בחר פעולה</div>
</div>