<header>
  <div routerLink="" class="divLogo">
    <img class="logo" src="../../../assets/photoes/LOGO.png" alt="לוגו">
  </div>
  <div class="buttonLink">
    <ul>
  <li><button [ngClass]="{selected: selectedSection === 'home'}" (click)="sectionChange.emit('home')">
    <span class="menu-vertical">
      <mat-icon class="menu-icon">home</mat-icon>
      <span>בית</span>
    </span>
  </button></li>
  <li><button [ngClass]="{selected: selectedSection === 'patients'}" (click)="onPatientsClick()">
    <span class="menu-vertical">
      <mat-icon class="menu-icon">groups</mat-icon>
      <span>מטופלים</span>
    </span>
  </button></li>
  <li><button [ngClass]="{selected: selectedSection === 'rooms'}" (click)="sectionChange.emit('rooms')">
    <span class="menu-vertical">
      <mat-icon class="menu-icon">meeting_room</mat-icon>
      <span>חדרים</span>
    </span>
  </button></li>
  <li><button [ngClass]="{selected: selectedSection === 'finance'}" (click)="sectionChange.emit('finance')">
    <span class="menu-vertical">
      <mat-icon class="menu-icon">monetization_on</mat-icon>
      <span>ניהול כספים</span>
    </span>
  </button></li>
  <!-- <li><button [ngClass]="{selected: selectedSection === 'mail'}" (click)="sectionChange.emit('mail')"><span class="menu-vertical"><mat-icon class="menu-icon">mail</mat-icon><span>דואר</span></span></button></li> -->
  <!-- <li><button (click)="sectionChange.emit('declarations')"><span class="menu-vertical"><mat-icon class="menu-icon">assignment</mat-icon><span>הצהרות</span></span></button></li> -->
  <li><button [ngClass]="{selected: selectedSection === 'calendar'}" (click)="sectionChange.emit('calendar')">
    <span class="menu-vertical">
      <mat-icon class="menu-icon">calendar_month</mat-icon>
      <span>יומן</span>
    </span>
  </button></li>
  <li><button [ngClass]="{selected: selectedSection === 'followups'}" (click)="sectionChange.emit('followups')">
    <span class="menu-vertical">
      <mat-icon class="menu-icon">notifications</mat-icon>
      <span>מעקבים</span>
    </span>
  </button></li>
  <li><button [ngClass]="{selected: selectedSection === 'reports'}" (click)="sectionChange.emit('reports')">
    <span class="menu-vertical">
      <mat-icon class="menu-icon">bar_chart</mat-icon>
      <span>דוחות</span>
    </span>
  </button></li>
  <li><button [ngClass]="{selected: selectedSection === 'help'}" (click)="sectionChange.emit('help')">
    <span class="menu-vertical">
      <mat-icon class="menu-icon">help_outline</mat-icon>
      <span>עזרה</span>
    </span>
  </button></li>
    </ul>
  </div>

  <!-- User Profile Menu -->
  <div class="user-profile-container">
    <div class="user-avatar" (click)="toggleProfileMenu()">
      <img [src]="userImage" alt="תמונת משתמש">
    </div>

    <div class="profile-menu" *ngIf="showProfileMenu">
      <div class="profile-menu-header">
        <div class="user-name">
          {{ user_name }}
          <span class="user-role-separator">| </span>
          <span class="user-role">מטפל/ת</span>
        </div>
      </div>
      <div class="menu-divider"></div>
      <ul class="profile-menu-items">
        <li (click)="sectionChange.emit('settings'); showProfileMenu = false;">
          <mat-icon class="menu-icon">settings</mat-icon>
          <span>הגדרות</span>
        </li>
        <li class="logout" (click)="logout()">
          <mat-icon class="menu-icon">logout</mat-icon>
          <span>יציאה</span>
        </li>
      </ul>
    </div>
  </div>
</header>

