<header>
  <div routerLink="" class="divLogo">
    <img class="logo" src="../../../assets/photoes/LOGO.png" alt="לוגו">
  </div>
  <div class="buttonLink">
    <ul>
      <li>
        <button (click)="showSection('home')">
          <span class="menu-vertical">
            <mat-icon class="menu-icon">home</mat-icon>
            <span>בית</span>
          </span>
        </button>
      </li>
      <li>
        <button (click)="showSection('employees')">
          <span class="menu-vertical">
            <mat-icon class="menu-icon">badge</mat-icon>
            <span>עובדים</span>
          </span>
        </button>
      </li>
      <li>
        <button (click)="showSection('patients')">
          <span class="menu-vertical">
            <mat-icon class="menu-icon">groups</mat-icon>
            <span>מטופלים</span>
          </span>
        </button>
      </li>
      <li>
        <button (click)="showSection('departments')">
          <span class="menu-vertical">
            <mat-icon class="menu-icon">apartment</mat-icon>
            <span>מחלקות</span>
          </span>
        </button>
      </li>
      <li>
        <button (click)="showSection('rooms')">
          <span class="menu-vertical">
            <mat-icon class="menu-icon">meeting_room</mat-icon>
            <span>חדרים</span>
          </span>
        </button>
      </li>
      <li>
        <button (click)="showSection('reports')">
          <span class="menu-vertical">
            <mat-icon class="menu-icon">bar_chart</mat-icon>
            <span>דוחות</span>
          </span>
        </button>
      </li>
      <li>
        <button (click)="showSection('organizations')">
          <span class="menu-vertical">
            <mat-icon class="menu-icon">business</mat-icon>
            <span>ארגונים</span>
          </span>
        </button>
      </li>
    </ul>
  </div>

  <!-- User Profile Menu -->
  <div class="user-profile-container">
    <div class="user-avatar" (click)="toggleProfileMenu()">
      <img [src]="userImage" alt="תמונת משתמש">
    </div>

    <div class="profile-menu" *ngIf="showProfileMenu">
      <div class="profile-menu-header">
        <div class="user-name">
          {{ user_name }}
          <span class="user-role-separator">| </span>
          <span class="user-role">אדמין</span>
        </div>
      </div>
      <div class="menu-divider"></div>
      <ul class="profile-menu-items">
        <li (click)="goToSettings()">
          <mat-icon class="menu-icon">settings</mat-icon>
          <span>הגדרות</span>
        </li>
        <li class="logout" (click)="logout()">
          <mat-icon class="menu-icon">logout</mat-icon>
          <span>יציאה</span>
        </li>
      </ul>
    </div>
  </div>
</header>
