
@import "~@fortawesome/fontawesome-free/css/all.css";
html, body {
  background-color:#F3F7F8;
   direction: rtl;
  }

.mat-mdc-dialog-surface.mdc-dialog__surface {
  border-radius: 2rem !important;
}

/* שינוי עיצוב לדיאלוג של אנגולר מטריאל */
/* .mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius:5rem  !important;
}
.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: 80%;
  background-color: #022F39;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
