@import "~@fortawesome/fontawesome-free/css/all.css";
html, body {
  background-color:#022F39;
  /* color: white; */
   direction: rtl;
   font-family: "Noto Sans Hebrew", sans-serif;
  }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.title {
  color: #BB7E2B;
  font-size: 5rem; 
  font-family: 'Noto Sans Hebrew', sans-serif;
  font-weight: 900;
  line-height: 2.2rem;
}

 a {
  color: black;
  font-size: small;
}

a:hover {
  text-decoration: none;
  /* color: white;
  font-size: large; */
}

/* כרטיסים */
.card{
  width: 32rem;
  height: 32rem;
  background-color: #074B5B;
  display: inline-block;
  margin: 2rem;
  border-radius: 2rem;
}
.card-img-top {
  width: 32rem;
  height: 25rem;
  border-radius: 2rem 2rem 0 0;
}
.card-title{
  text-align: center;
  font-size: 1.5rem;
  height: 4rem;
  padding: 1.5rem;
}
/* אינפוטים */
.WantToBeUpdatedTiteleInput{
  width: 40rem;
  height: 4.5rem;
  background:none;
  border-radius:5rem;
  color: #ffffff;
  border: 0.2rem solid #022F39; 
  margin: 0.5rem 0 0.5rem 0; 
  direction: rtl;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.3);
}
  .WantToBeUpdatedTiteleInput::placeholder{
     color: white;
     padding: 1rem;
  }
  .WantToBeUpdatedTiteleInput:focus {
    box-shadow: 0 0 5px white;
    outline: none;
}
.selectInput{
  background-color: #BB7E2B;
}
  /* כפתור שליחת הודעה */
  .submitButton{
    border: 0.2rem solid #022F39;
    background-color:#022F39;
    border-radius:5rem;
    width: 10rem;
    height: 3.5rem;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.3);
    align-self: end !important;;
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: 1rem;
}
.bottomLine{
  border-bottom: 2px solid #022F39;}
/* כפתור גלילה לראש העמוד */
.scrollToTopButton {
  background-color: #BB7E2B;
  border-radius: 3rem;
  margin-right: 12rem;
  transform: translateY(50%);
  width: 5rem;
  height: 5rem;
  color: #022F39;
  border: 0.2rem solid #022F39; 
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.3);
}
/* איקונים */
.fa-whatsapp {
  font-size: 2.7rem;
}

.mat-mdc-dialog-surface.mdc-dialog__surface {
  border-radius: 15%;
}
.bottomLine{
  border-bottom: 2px solid #022F39;
}
/* כותרות */
.dialogTitle {
  color: #022F39;
  font-size: 2rem;
  line-height: 19.8px;
  cursor: pointer;
  justify-content: center;
  display: flex;
  text-decoration: underline;
}
.subtitle{
  color: #022F39;
  font-size: 2rem;
  line-height: 19.8px;
  cursor: pointer;
  justify-content: right;
  display: flex;
}
/* שינוי עיצוב לדיאלוג של אנגולר מטריאל */
.mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius:5rem  !important;
}
.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: 80%;
  background-color: #022F39;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
