.create-treatment-dialog {
    text-align: center;
   background-color: #022F39;;
    font-size: 22px;
    font-weight: bold;
    color: white;
  }
  .input-dialog {
    background-color: whitesmoke;
    border-radius: 2rem 2rem 0 0;
    overflow: none;
  }

  