      <div class="form-field">
        <div *ngIf="!fullscreen">
       <button mat-icon-button (click)="fullscreen = true" style="float:left;" title="הגדלת תצוגה">
          <mat-icon>fullscreen</mat-icon>
        </button>

          <editor
            apiKey="mvz8p55qifku2r2zos5hex8m2cnktqjz4ofe31x8pqj9e9lt"
            [ngModel]="content"
            (ngModelChange)="onContentChange($event)"
            [init]="editorInit">
          </editor>
        </div>

        <div *ngIf="fullscreen" class="editor-fullscreen-overlay">
          <button mat-icon-button (click)="fullscreen = false" style="position:absolute;top:10px;left:10px;z-index:1001;" title="סגור תצוגה מלאה">
            <mat-icon>close</mat-icon>
          </button>
          <editor
            apiKey="mvz8p55qifku2r2zos5hex8m2cnktqjz4ofe31x8pqj9e9lt"
            [ngModel]="content"
            (ngModelChange)="onContentChange($event)"
            [init]="editorInit">
          </editor>
        </div>
      </div>