<div class="patient-list-container">
  <h1>רשימת מטופלים</h1>

  <!-- שדה חיפוש -->
  <div class="search-container">
    <button class="icon-button" mat-icon-button (click)="openAddPatientDialog()">
      <mat-icon style="color: #BB7E2B;">add</mat-icon>
    </button>

    <input type="text" placeholder="חיפוש לפי שם או עיר  ..." class="search-input" [(ngModel)]="searchTerm"
      (input)="onSearch(searchTerm)">
  </div>

  <!-- אינדיקטור טעינה -->
  <div *ngIf="isLoading" class="loading-container">
    <mat-spinner diameter="40"></mat-spinner>
  </div>

  <div *ngIf="!isLoading">
    <!-- כותרות השדות -->
    <div class="patient-row header-row" [style.gridTemplateColumns]="gridTemplate">
      <div class="patient-cell" (click)="sortBy('full_name')">שם מלא</div>
      <div class="patient-cell" (click)="sortBy('status')">סטטוס</div>
      <div class="patient-cell" (click)="sortBy('birth_date')">גיל</div>
      <div class="patient-cell" (click)="sortBy('treatment_count')">טיפולים</div>
      <div class="patient-cell" (click)="sortBy('city')">עיר מגורים</div>
      <div class="patient-cell">פעולות</div>
    </div>

    <!-- רשימת מטופלים -->
    <div class="patient-row data-row" *ngFor="let patient of filteredPatients"
      [style.gridTemplateColumns]="gridTemplate" [class.selected]="selectedPatientId === patient.patient.patient_id"
      (click)="selectPatient(patient)">
      <div class="patient-cell patient-name-cell">
        <mat-icon class="patient-icon">person</mat-icon>
        {{ patient.user.first_name }} {{ patient.user.last_name }}
      </div>
      <div class="patient-cell">
        <span class="status-badge" [class.active]="patient.patient.status === 'פעיל'"
          [class.inactive]="patient.patient.status !== 'פעיל'">
          {{ getStatusLabel(patient.patient.status) }}
        </span>
      </div>

      <!-- <div class="patient-cell">
        <div class="departments-list" *ngIf="patient.selectedDepartments">
          <span class="department-tag" *ngFor="let dept of patient.selectedDepartments">
            {{ dept }}
          </span>
        </div>
        <span *ngIf="!patient.selectedDepartments || patient.selectedDepartments.length === 0"
          class="empty-value">-</span>
      </div> -->
      <!-- <div class="patient-cell">{{ getMaritalStatusLabel(patient.marital_status) }}</div> -->
      <div class="patient-cell">{{ getAge(patient?.user?.birth_date) }}
      </div>
      <div class="patient-cell">
        <!-- <span class="count-badge">{{ patient.user.email }}</span> -->
      </div>
      <div class="patient-cell">{{ patient.user.city || '-' }}</div>
      <div class="patient-cell actions-cell">
        <button class="action-btn edit-btn" (click)="openPatientDetails(patient); $event.stopPropagation()"
          matTooltip="הצג פרטים">
          <mat-icon>visibility</mat-icon>
        </button>
        <button class="action-btn edit-btn" (click)="$event.stopPropagation()" matTooltip="ערוך">
          <mat-icon>edit</mat-icon>
        </button>
        <button class="action-btn delete-btn" (click)="$event.stopPropagation()" matTooltip="היסטוריית טיפולים">
          <mat-icon>history</mat-icon>
        </button>
      </div>
    </div>

    <!-- הצגת פרטי המטופל הנבחר -->
    <app-patient-details *ngIf="selectedPatient" [patient]="selectedPatient"></app-patient-details>
    <!-- הודעה אם אין מטופלים -->
    <div *ngIf="filteredPatients.length === 0" class="no-results">
      <p>לא נמצאו מטופלים</p>
      <p>נסה לשנות את מילת החיפוש</p>
    </div>
  </div>
</div>